*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    cursor: url('../image/mata_mosca.png')30 30,auto;
}
body {
    background-color: #333;
    background-image: url('../image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0;
    background-color: white;
    opacity: 0.7;
}
.vidas {
    float: left;
}
.cronometro {
    float: left;
}
.cronometro p {
    font-weight: bold;
}
/* pagina inicial index */
.game__inicio {
    width: 400px;
}
.box__select {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.box__select select {
    height: 40px;
    width: 167px;
    outline: none;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    padding: 2px;
}

/* fim_de_jogo.html */
.container__gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.button__iniciar { 
    background: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    border: 3px solid rgba(92, 91, 91, 0.411);
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
}


/*Via javascript*/
.mosca__1 {
    width: 50px;
    height: 50px;
}
.mosca__2 {
    width: 70px;
    height: 70px;
}
.mosca__3 {
    width: 90px;
    height: 90px;
}
.lado__a {
    transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
.lado__b {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

@media screen and (max-width: 500px) {
   
    .game__over {
        overflow: hidden;
        width: 400px;
        padding: 0 2%;
    }
}